:root {
    --background-color-light: #f9f9f9; /* Светлый фон */
    --text-color-light: #333; /* Светлый текст */
    --background-color-dark: #333; /* Темный фон */
    --text-color-dark: #f9f9f9; /* Темный текст */
    /* ... другие переменные для светлой и темной темы ... */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

header {
    text-align: center;
}

.header_logo {
    padding: 20px 0px 0px 0px;
    font-size: 50px;
}

#chat-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

#chat-messages {
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

#user-input {
    width: calc(90% - 18px);
    padding: 8px;
    box-sizing: border-box;
    margin-right: 8px;
}

#send-btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #8fab90;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Медиа-запросы для адаптивности */
@media only screen and (max-width: 768px) {
    .header_logo {
        font-size: 30px; /* Уменьшаем размер логотипа */
    }

    #chat-container {
        margin: 10px;
        padding: 10px;
    }

    #chat-messages {
        height: 500px; /* Уменьшаем высоту контейнера сообщений */
    }

    #user-input {
        width: calc(100% - 20px); /* Растягиваем поле ввода на всю ширину */
    }

    footer {
        padding: 5px; /* Уменьшаем отступы в футере */
    }
}

@media only screen and (max-width: 480px) {
    .header_logo {
        font-size: 24px; /* Еще больше уменьшаем размер логотипа */
    }

    #chat-container {
        margin: 5px;
        padding: 5px;
    }

    #chat-messages {
        height: 400px; /* Еще больше уменьшаем высоту контейнера сообщений */
    }

    #user-input,
    #send-btn {
        width: 100%; /* Растягиваем поле ввода и кнопку на всю ширину */
        margin: 4px 0; /* Добавляем небольшой отступ сверху и снизу */
    }

    footer {
        padding: 3px; /* Еще больше уменьшаем отступы в футере */
    }
}

.model_cont {
    display: flex;
    justify-content: center;
}

.model_cont label{
    margin: 0px 15px;
}

body.dark-theme {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

/* Светлая тема */
body.light-theme #chat-container {
    background-color: #f9f9f9; /* Светлый фон для контейнера чата */
    color: #333; /* Светлый текст */
}

/* Темная тема */
body.dark-theme #chat-container {
    background-color: #333; /* Темный фон для контейнера чата */
    color: #f9f9f9; /* Темный текст */
}
